<h3>Post Form</h3>

<%= form_tag posts_path do %>
  <label>Post Title: </label>
  <% text_field_tag :'posts[title]' %>

  <label>Post Description: </label>
  <% text_area_tag :'posts[description]' %>

  <%= submit_tag "Submit Post" %>
<% end %>
